#include "resource.h"

IDD_MAIN DIALOGEX 0,0,255,189
CAPTION "GBA Doom editor"
FONT 8,"MS Sans Serif",0,0,0
MENU IDR_MENU1
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "",IDC_CENTER,"Static",WS_CHILDWINDOW|WS_VISIBLE,81,30,153,141
  CONTROL "",IDC_LST1,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,3,0,60,186,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT1,"Edit",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_TABSTOP,66,0,36,12,WS_EX_CLIENTEDGE
  CONTROL "lines over",IDC_CHK1,"Button",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_TABSTOP|BS_AUTOCHECKBOX,150,0,57,12
  CONTROL "Set",IDC_BTN1,"Button",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_TABSTOP,105,0,42,12
  CONTROL ">",IDC_BTN2,"Button",NOT WS_VISIBLE|WS_CHILDWINDOW|WS_TABSTOP,141,96,36,30
  CONTROL "",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,207,0,36,12
END

IDR_MENU1 MENU
BEGIN
  POPUP "File"
  BEGIN
    MENUITEM "Open",IDM_A1
    MENUITEM "Save",IDM_A2
    MENUITEM "Save as",IDM_A3
  END
  POPUP "Mode"
  BEGIN
    MENUITEM "Floors",IDM_B1,CHECKED
    MENUITEM "Textures",IDM_B2
    MENUITEM "Graphics",IDM_B3
    MENUITEM "Sprites",IDM_B4
    MENUITEM "Other",IDM_B5
    MENUITEM "Maps",IDM_B6
    MENUITEM "Sounds",IDM_B7
  END
  POPUP "Object"
  BEGIN
    MENUITEM "Export",IDM_C1
    MENUITEM "Import",IDM_C2
    MENUITEM "New",IDM_C3
    MENUITEM "Delete",IDM_C4
  END
  POPUP "Game"
  BEGIN
    MENUITEM "Actors",IDM_D1
    MENUITEM "Weapons",IDM_D2
    MENUITEM "Frames",IDM_D3
    MENUITEM "Sprites",IDM_D4
  END
END

IDD_MOBJ DIALOGEX 0,0,354,171
CAPTION "Actor editor"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "",IDC_CENTER,"Static",WS_CHILDWINDOW|WS_VISIBLE,255,3,93,165
  CONTROL "",IDC_CMB1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,3,3,78,165
  CONTROL "save",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,102,3,51,12
  CONTROL "flags",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,180,3,54,12
  CONTROL "Actor info",IDC_STATIC,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,3,21,78,147
  CONTROL "ed-num",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,33,33,12
  CONTROL "",IDC_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,45,33,30,12,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT4,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,45,48,30,12,WS_EX_CLIENTEDGE
  CONTROL "health",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,48,33,12
  CONTROL "",IDC_EDT5,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,45,63,30,12,WS_EX_CLIENTEDGE
  CONTROL "react. time",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,63,33,12
  CONTROL "",IDC_EDT6,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,45,78,30,12,WS_EX_CLIENTEDGE
  CONTROL "pain chance",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,78,33,12
  CONTROL "",IDC_EDT7,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,45,93,30,12,WS_EX_CLIENTEDGE
  CONTROL "speed",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,93,33,12
  CONTROL "",IDC_EDT8,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,45,108,30,12,WS_EX_CLIENTEDGE
  CONTROL "radius",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,108,33,12
  CONTROL "",IDC_EDT9,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,45,123,30,12,WS_EX_CLIENTEDGE
  CONTROL "height",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,123,33,12
  CONTROL "",IDC_EDT10,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,45,138,30,12,WS_EX_CLIENTEDGE
  CONTROL "mass",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,138,33,12
  CONTROL "",IDC_EDT11,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,45,153,30,12,WS_EX_CLIENTEDGE
  CONTROL "damage",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,9,153,33,12
  CONTROL "",IDC_EDT12,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,33,30,12,WS_EX_CLIENTEDGE
  CONTROL "Sounds",IDC_STATIC,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,84,21,78,87
  CONTROL "see",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,90,33,33,12
  CONTROL "",IDC_EDT13,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,48,30,12,WS_EX_CLIENTEDGE
  CONTROL "attack",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,90,48,33,12
  CONTROL "",IDC_EDT14,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,63,30,12,WS_EX_CLIENTEDGE
  CONTROL "pain",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,90,63,33,12
  CONTROL "",IDC_EDT15,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,78,30,12,WS_EX_CLIENTEDGE
  CONTROL "death",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,90,78,33,12
  CONTROL "",IDC_EDT16,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,93,30,12,WS_EX_CLIENTEDGE
  CONTROL "active",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,90,93,33,12
  CONTROL "States",IDC_STATIC,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,165,21,81,120
  CONTROL "",IDC_EDT17,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,210,33,30,12,WS_EX_CLIENTEDGE
  CONTROL "spawn",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,174,33,33,12
  CONTROL "",IDC_EDT18,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,210,48,30,12,WS_EX_CLIENTEDGE
  CONTROL "see",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,174,48,33,12
  CONTROL "",IDC_EDT19,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,210,63,30,12,WS_EX_CLIENTEDGE
  CONTROL "pain",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,174,63,33,12
  CONTROL "",IDC_EDT20,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,210,78,30,12,WS_EX_CLIENTEDGE
  CONTROL "melee",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,174,78,33,12
  CONTROL "",IDC_EDT21,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,210,93,30,12,WS_EX_CLIENTEDGE
  CONTROL "missile",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,174,93,33,12
  CONTROL "",IDC_EDT22,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,210,108,30,12,WS_EX_CLIENTEDGE
  CONTROL "death",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,174,108,33,12
  CONTROL "",IDC_EDT23,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,210,123,30,12,WS_EX_CLIENTEDGE
  CONTROL "xdeath",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,174,123,33,12
END

IDD_FLAG DIALOGEX 0,0,150,156
CAPTION "Flag editor"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
EXSTYLE WS_EX_PALETTEWINDOW
BEGIN
  CONTROL "SPECIAL",IDC_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,3,72,9
  CONTROL "SOLID",IDC_CHK2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,15,72,9
  CONTROL "SHOOTABLE",IDC_CHK3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,27,72,9
  CONTROL "NOSECTOR",IDC_CHK4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,39,72,9
  CONTROL "NOBLOCKMAP",IDC_CHK5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,51,72,9
  CONTROL "AMBUSH",IDC_CHK6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,63,72,9
  CONTROL "SPAWNCEILING",IDC_CHK9,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,75,72,9
  CONTROL "NOGRAVITY",IDC_CHK10,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,87,72,9
  CONTROL "DROPOFF",IDC_CHK11,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,99,69,9
  CONTROL "PICKUP",IDC_CHK12,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,111,69,9
  CONTROL "NOCLIP",IDC_CHK13,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,3,123,69,9
  CONTROL "SLIDE",IDC_CHK14,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,3,69,9
  CONTROL "FLOAT",IDC_CHK15,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,15,69,9
  CONTROL "NOTELEPORT",IDC_CHK16,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,27,69,9
  CONTROL "MISSILE",IDC_CHK17,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,39,69,9
  CONTROL "DROPPED",IDC_CHK18,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,51,69,9
  CONTROL "SHADOW",IDC_CHK19,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,63,69,9
  CONTROL "NOBLOOD",IDC_CHK20,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,75,69,9
  CONTROL "CORPSE",IDC_CHK21,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,87,69,9
  CONTROL "COUNTKILL",IDC_CHK23,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,99,69,9
  CONTROL "COUNTITEM",IDC_CHK24,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,111,69,9
  CONTROL "NOTDMATCH",IDC_CHK26,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,78,123,69,9
  CONTROL "OK",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,42,138,69,15
END

IDD_STATE DIALOGEX 10,10,210,138
CAPTION "State editor"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER
BEGIN
  CONTROL "",IDC_CENTER,"Static",WS_CHILDWINDOW|WS_VISIBLE,102,24,99,114
  CONTROL "State",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,3,3,21,12
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,24,3,36,12,WS_EX_CLIENTEDGE
  CONTROL "load",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,63,3,39,12
  CONTROL "save",IDOK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,108,3,39,12
  CONTROL "sprite",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,6,24,33,12
  CONTROL "",IDC_CMB1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_DROPDOWNLIST,39,24,51,141
  CONTROL "frame",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,6,42,33,12
  CONTROL "",IDC_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,39,42,51,12,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT4,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,39,57,51,12,WS_EX_CLIENTEDGE
  CONTROL "next state",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,6,57,33,12
  CONTROL "",IDC_EDT5,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,39,72,51,12,WS_EX_CLIENTEDGE
  CONTROL "tics",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,6,72,33,12
  CONTROL "",IDC_EDT6,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,39,87,51,12,WS_EX_CLIENTEDGE
  CONTROL "misc1",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,6,87,33,12
  CONTROL "",IDC_EDT7,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,39,102,51,12,WS_EX_CLIENTEDGE
  CONTROL "misc2",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,6,102,33,12
  CONTROL "",IDC_EDT8,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,39,117,51,12,WS_EX_CLIENTEDGE
  CONTROL "action",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE,6,117,33,12
  CONTROL "go next",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,162,3,39,12
END

